body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: #f8f9fa;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.direction{
  direction: ltr;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  width: 320px;
  height: 100px;
}
.nav-link{
  font-weight: 800 ;
  border-radius: 4px;
  color: black ;
  font-size: 17px;
}
.nav-link:hover{
  background-color: #010026;
  color: #F7AE0D;
}
.italic{
  font-weight: 700;
  color: #F7AE0D;
}
.navbar-nav .nav-link.active{
  background-color:#19DBBF;
}
.placeholder-icon{
  font-size: 30px;
   color: rgba(69, 90, 100, 0.5);
  }
.w-60{
    width: 70%;
  }
.w-img{
  width: 270px;
  height: 150px;
  border: 2px solid gainsboro;
  overflow: hidden;
}
.w-image{
  width: 800px;
  height: 400px;
  border: 2px solid gainsboro;
  overflow: hidden;
}
.w-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.w-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.w-img img:hover{
  transform: scale(1.2);
}
.header-brdr{
border-bottom: 2px solid  #F7AE0D;
}
.main-bg{
  background-color: #F7AE0D ;
}
.icon{
  width: 35px;
  height: 35px;
  background-color: #F7AE0D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}
.icon:hover{
  background-color: #19DBBF;
}
.contact-bg{
  background-color: gainsboro;
}
.contact-brdr{
  border-bottom: 1px solid whitesmoke;
}
.icon-white{
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.icon-white .color{
  color: #F7AE0D;
}
.time{
  color: #F7AE0D;
}
.title:hover{
  color: #F7AE0D;
}
.brdr-top{
  border-top: 2px solid  #F7AE0D;
}
.brdr-bottom{
border-bottom: 2px solid gainsboro;
}
.color{
  color: #F7AE0D;
}
.wrap-text {
  white-space: pre-wrap;
}

.uploaded-image{
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  object-fit: cover;
} 

.btn:hover {
  color: none !important;
  background-color: none !important; 
   border-color: none!important;
 } 
 .but{
  background-color: #F7AE0D !important;
 }
.placeholder-icon{
font-size: 30px;
 color: rgba(69, 90, 100, 0.5);
}
.div-img{
height: 200px;
width: 730px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
object-fit: cover;
}
.padding-right{
  padding-right: 0px;
 }
.w-input{
  width: 50%;
}
.skeleton-animation {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@media (max-width:575px) {
  .w-60{
    width: 100%;
  }
  .w-img{
    width: 200px;
    height: 100px;
  }
  .div-img{
    height: 150px;
    width: 380px;
    }
    .w-input{
      width: 100%;
    }
    .w-image{
      width: 300px;
      height: 200px;
    
    }
}
@media (min-width:576px) and (max-width:767px) {
.w-60{
  width: 100%;
}
.div-img{
  height: 150px;
  width: 560px;
  }
  .w-input{
    width: 100%;
  }
  .w-image{
    width: 500px;
    height: 200px;
  
  }
}

@media (min-width:768px) and (max-width:991px) {
  .w-60{
    width: 80%;
  }
  .div-img{
    height: 150px;
    width: 600px;
    }
    .w-input{
      width: 80%;
    }
    .w-image{
      width: 550px;
      height: 200px;
    
    }
 .padding-right{
  padding-right: 90px;
 }
}
@media (min-width:992px) and (max-width:1199px) {
  .w-60{
    width: 70%;
  }
  .div-img{
    height: 150px;
    width: 680px;
    }
    .w-input{
      width: 70%;
    }
    .w-image{
      width: 600px;
      height: 200px;
    }
 .padding-right{
  padding-right: 70px;
  
 }
}